<% provide(:title, "404 Not Found") %>
<div class="center jumbotron">
  <h1>Page Not Found!</h1>
  <h2>
      Error 404. This page is not found! :( 
  </h2>
    <%= link_to "Go To Homepage", root_path, class: "btn btn-lg btn-primary signup-button" %>
  </div>
</div>