<% provide(:title, "500 Server Error") %>
<div class="center jumbotron">
  <h1>Server Error!</h1>
  <h2>
      Error 500. There is a server error! :( 
  </h2>
    <%= link_to "Go To Homepage", root_path, class: "btn btn-lg btn-primary signup-button" %>
  </div>
</div>