<% provide(:title, "422 Unacceptable") %>
<div class="center jumbotron">
  <h1>Unacceptable Error!</h1>
  <h2>
      Error 422. Unacceptable Condition!!! :( 
  </h2>
    <%= link_to "Go To Homepage", root_path, class: "btn btn-lg btn-primary signup-button" %>
  </div>
</div>