  <div class="navbar navbar-fixed-bottom">
  <section id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h4>Contact Us</h4>
          <form class="footerform" action="contact_us">
          <input type="text" class="form-control" placeholder="Name" name="name">
          <input type="email" class="form-control" placeholder="Email" name="email">
          <textarea class="form-control" rows="3" placeholder="Subject" name="subject"></textarea>
          <%= submit_tag "Send Email", class: "btn btn-sm btn-primary" %>
          </form>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h4>General Inquiries</h4>
          <ul class="list-unstyled quick-links">
            <li><a></i>Andy</a></li>
            <li><a></i>Junliang</a></li>
            <li><a></i>Ali</a></li>
          </ul>
          <br>
          <h4>Useful Links</h4>
          <ul class="list-unstyled quick-links">
            <li><a></i>RMIT Course</a></li>
            <li><a></i>RMIT Help Desk</a></li>
            <li><a></i>FAQ</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h4>Quick links</h4>
          <ul class="list-unstyled quick-links">
            <li><a></i>YouTube</a></li>
            <li><a></i>Twitter</a></li>
            <li><a></i>Facebook</a></li>
            <li><a></i>Instagram</a></li>
          </ul>
        </div>
      </div>
  </section>
  </div>