<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "YOURCOURSE", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Category<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                 <li><a href="#">Web Development</a></li>
                 <li><a href="#">Full Stack Dev</a></li>
                 <li><a href="#">IOS Engineering</a></li>
              </ul>
          </li>
          <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Location<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                 <li><a href="#">14.10.31</a></li>
                 <li><a href="#">14.8.26</a></li>
                 <li><a href="#">14.10.30</a></li>
              </ul>
          </li>
          <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>